<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Life Health
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <% if (user.type=='doctor') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/Docapplist">Doctor Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Availabilities">Set Availabilities</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link"  href="/list">Book an Appointment</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/Patientapplist">Patient's Appointments</a>
                    </li>
                <% }
                
                %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
            
        </ul>
    </div>
  </nav>
  