<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>

<style>
        th {
    background-color: #91ced6;
}

td, th {
    border: 1px solid #91ced6;
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: hsl(36, 15%, 75%);
    background-color: #91ced6;
  }


  .container {
    height: 80%;
  top: 100px;
  padding: 75px;
  transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  -moz-transform: scale(1.2); /* Firefox */
  }
    </style>

    <script>
        let script = 25;
        let timeslots = { //time slots for data
            0: 'N/A', 1: '12:00am', 2: '1:00am', 3: '2:00am', 4: '3:00am', 5: '4:00am',
            6: '5:00am', 7: '6:00am', 8: '7:00am', 9: '8:00am', 10: '9:00am',
            11: '10:00am', 12: '11:00am', 13: '12:00pm', 14: '1:00pm', 15: '2:00pm',
            16: '3:00pm', 17: '4:00pm', 18: '5:00pm', 19: '6:00pm', 20: '7:00pm',
            21: '8:00pm', 22: '9:00pm', 23: '10:00pm', 24: '11:00pm'
        };
        let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

        function setData(day, availability) { //checks if user data is equivilent to data being displayed
            start = day + 'Start';            // if so choose this data be the default value
            end = day + 'End';
            for (let i = 0; i < script; i++) {
                if (availability[day].Start != timeslots[i]) document.getElementById(start).innerHTML += '<option>'+timeslots[i]+'</option>';
                    else document.getElementById(start).innerHTML += '<option selected="">'+timeslots[i]+'</option>';

                
            };
        }

        function setTableData(availability) {
            let table = document.getElementById('availabilityTable');
            for (let i = 0; i < 7; i++) {
                let day = days[i];
                let start = day + 'Start';
                let end = day + 'End';
                let row = table.insertRow(i+1);
                let cell1 = row.insertCell(0);
                cell1.innerHTML = '<b> '+day+' </b>';
                let cell2 = row.insertCell(1);
                cell2.innerHTML = '<select name="'+start+'" id="'+start+'"></select>';
                let addStart = document.getElementById(start);
                cell3 = row.insertCell(2);
                cell3.innerHTML = '<select name="'+end+'" id="'+end+'"></select>';
                let addEnd = document.getElementById(end);
                for (let j = 0; j < script; j++) {
                    if (availability[day].Start != timeslots[j]) addStart.innerHTML += '<option>'+timeslots[j]+'</option>';
                        else addStart.innerHTML += '<option selected="">'+timeslots[j]+'</option>';
                    
                    
                    if (availability[day].End != timeslots[j]) addEnd.innerHTML += '<option>'+timeslots[j]+'</option>';
                        else addEnd.innerHTML += '<option selected="">'+timeslots[j]+'</option>';
                }
                
            }
        }
       
        window.onload = function() {  // set EJS data to javascript variable
            let data = '<%- JSON.stringify(user.availability) %>'; 
            let availability = JSON.parse(data);
            setTableData(availability); 

            setData('Monday', availability); //send data to be displayed
            setData('Tuesday', availability);
            setData('Wednesday', availability);
            setData('Thursday', availability);
            setData('Friday', availability);
            setData('Saturday', availability);
            setData('Sunday', availability);  
             

            
    }  
    </script>
    <style>
        form {
            display: inline-block;
        }
        form.solid {
                border-style: solid;
                border-radius: 20px;
    } 
        .container {
            width: 450;
            clear: both;
            text-align: center;
            font-size: large;
    }
    
    </style>
</head>
<body>
    
    <% include ./partials/navbar %>

    <div class="container">
        <h1 style="text-align:centre">Select Your Working Hours</h1>

        <form id="availabilityForm"  style="width: 450;" style="border-style: solid;" method="POST" action="/users/<%= user._id %>?_method=PUT">

        <table class="availabilityTable" id="availabilityTable">
            <thead id = availabilityTableHead>
                <th><h3><b>Day</b></h3></th>
                <th><h3><b>Start</b></h3></th>
                <th><h3><b>End</b></h3></th>

            </thead>
            <tbody>

            </tbody>
            </table>
            <input type="submit" class="btn btn-dark btn-sm"">
            </form>

<!--
        <form class="solid" style="width: 450;" style="border-style: solid;" method="POST" action="/users/<%= user._id %>?_method=PUT">
           
            <label for="Monday">Monday Start: </label>
            <select name="MondayStart" id="MondayStart"> 
            </select>
            <label for="MondayEnd">Monday End:   </label>
            <select name="MondayEnd" id="MondayEnd"> 
            </select>
            <br>
            <br>
            <label for="TuesdayStart">Tuesday Start: </label>
            <select name="TuesdayStart" id="TuesdayStart"> 
            </select>
            <label for="TuesdayEnd">Tuesday End: </label>
            <select name="TuesdayEnd" id="TuesdayEnd"> 
            </select>
            <br>
            <br>
            <label for="WednesdayStart">Wednesday Start: </label>
            <select name="WednesdayStart" id="WednesdayStart"> 
            </select>
            <label for="WednesdayEnd">Wednesday End: </label>
            <select name="WednesdayEnd" id="WednesdayEnd"> 
            </select>
            <br>
            <br>
            <label for="ThursdayStart">Thursday Start: </label>
            <select name="ThursdayStart" id="ThursdayStart"> 
            </select>
            <label for="ThursdayEnd">Thursday End: </label>
            <select name="ThursdayEnd" id="ThursdayEnd"> 
            </select>
            <br>
            <br>
            <label for="FridayStart">Friday Start: </label>
            <select name="FridayStart" id="FridayStart"> 
            </select>
            <label for="FridayEnd">Friday End: </label>
            <select name="FridayEnd" id="FridayEnd"> 
            </select>
            <br>
            <br>
            <label for="SaturdayStart">Saturday Start: </label>
            <select name="SaturdayStart" id="SaturdayStart"> 
            </select>
            <label for="SaturdayEnd">Saturday End: </label>
            <select name="SaturdayEnd" id="SaturdayEnd"> 
            </select>
            <br>
            <br>
            <label for="SundayStart">Sunday Start: </label>
            <select name="SundayStart" id="SundayStart"> 
            </select>
            <label for="SundayEnd">Sunday End: </label>
            <select name="SundayEnd" id="SundayEnd"> 
            </select>
            <input type="hidden" name ="user" id="user"value="<%= user%>">
            <br>
            <input type="submit" padding="10px">
        </form>
        -->
    </div>
</body>