<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>

.top {
  position: absolute;
  left: 0;
  right: 0;
  height: 80%;
  margin: 10px, 10px
  }
.container{
    margin: 20px auto;
}
.bg-danger {
    background-color:  #eb6864 !important;
}
.bg-primary {
    background-color:  #91ced6 !important;
}
.card-img{
    height:100%;
}
.btn{
    margin: 3px !important;
}

.listTimeslots {
    margin: 20px 10px;
}

.listTimeslots button {
    margin: 8px 5px;
}


</style>

<script>




    
    function displayPatients(patients) { // loops through the doctors array and sets the appropriate data to its spot in the doctors table
        
        
        

        for (let i = 0; i<patients.length; i++){
            
            let patient = patients[i];
            let mainDiv = document.getElementById("patientList");
            let divCard = document.createElement("DIV");
            divCard.classList.add("card");
            divCard.classList.add("mb-3");

            if(patients[i].isUrgent){
                divCard.classList.add("text-white");
                divCard.classList.add("bg-danger");
            }else{
                divCard.classList.add("text-white");
                divCard.classList.add("bg-primary");
            }

            let rowDiv = document.createElement("DIV");
            rowDiv.classList.add("row");
            rowDiv.classList.add("no-gutters");

            let col1Div = document.createElement("DIV");
            col1Div.classList.add("col-md-4");
            
            let img = document.createElement("IMG");
            img.classList.add("card-img");
            img.src =  'patient.png';

            let col2Div = document.createElement("DIV");
            col2Div.classList.add("col-md-8");

            let bodyDiv = document.createElement("DIV");
            bodyDiv.classList.add("card-body");

            var patientName = document.createElement("H5");
            patientName.classList.add("card-title");
            patientName.innerHTML= patients[i].patientName;

            var date = document.createElement("H6");
            date.classList.add("card-title");
            date.innerHTML= "Date: "+patients[i].date;

            var time = document.createElement("H6");
            time.classList.add("card-title");
            time.innerHTML= "Time: "+patients[i].timeSlot;

            let messageButton = document.createElement("BUTTON");
            messageButton.classList.add("btn");
            messageButton.classList.add("btn-success");
            messageButton.innerHTML="Message Patient";

            let appointmentForm = document.createElement("FORM");
            let deleteAppointmentButton = document.createElement("BUTTON");
            appointmentForm.appendChild(deleteAppointmentButton);
            appointmentForm.method= "POST"
            appointmentForm.action = "/appointments/" + patients[i]._id + "?_method=DELETE";
            deleteAppointmentButton.classList.add("btn");
            deleteAppointmentButton.classList.add("btn-primary");
            // console.log(1);
            deleteAppointmentButton.innerHTML="Cancel Appointment";

            bodyDiv.appendChild(patientName);
            bodyDiv.appendChild(date);
            bodyDiv.appendChild(time);
            bodyDiv.appendChild(messageButton);
            bodyDiv.appendChild(appointmentForm);
            col1Div.appendChild(img);
            // divCard.appendChild(divBody);
            col2Div.appendChild(bodyDiv);
            rowDiv.appendChild(col1Div);
            rowDiv.appendChild(col2Div);
            divCard.appendChild(rowDiv);
            mainDiv.appendChild(divCard);

           

        }
}
    

    function getPatients() {
        let data ='<%- JSON.stringify(user) %>'; 
        let user = JSON.parse(data);
        // console.log(name._id);
        var url = `http://localhost:5000/appointments/doc/${user._id}`;
        // 
        fetch(url)
            .then(function (response) {
                return response.json();
            }).then(function (obj) {
                console.log(obj)
                displayPatients(obj);
            }).catch(function (error) {
                console.log('Fetching appointments error');
            })
    }

    window.onload = function() {
        
        
        getPatients();    
    }
</script>
</head>

<body>
    <% include ./partials/navbar %>
    <div class="container-fluid container">
        
            <div class="card-deck" id="patientList">
                
            </div>
        
        
    </div>

    
</body>
</html>