<% include ./partials/navbarcopy %>
<div class="welcome">
  
    <div class="col-md-6 container">
      <div >.</div>
      <div class="card welcard card-body text-center" >
        <!-- <img src="logo.png" style="width: 20rem;height: 20rem;margin: 0 auto;" /> -->
        <h1 class="welcomeh1">Virtual Health Care <br> When You<br> Need It Most</h1>
        <h2 class="welcomeh2">For Anyone, Anywhere, at Anytime.</h2>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Join Now</a
        >
        <!-- <a href="/users/login" class="btn btn-secondary btn-block">Login</a> -->
      </div>
    </div>
  
</div>

