html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #e6e9ff !important;
    
}

#container{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background:  #7386ff;;
    margin: auto;
    width: 500px;
    max-width: 500px;
    border: 15px solid #7386ff;
    border-top: 10px solid #7386ff;
    border-bottom: 10px solid #7386ff;
    border-radius: 10px;
}

#name-container{
    color:white;
    font-size: 25px;
    text-align: center;
    background: #7386ff;
    margin-bottom: 10px;
}

#name{
   
    background: #F8F8F8;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#messages-container{
    height: 500px;
    background: white;
    font-size: 15px;
    padding: 7px;
    overflow-y: scroll;
    word-wrap: break-word;
}

#text-container{
    margin: auto;
    
    
    background: #7386ff;
    
    
}

#text{
    margin: 1px 0 1px 3px;
    background: #F8F8F8;
    width: 87%;
    font-size: 13px;
    
    border: 0px solid black;
    height: 40px;
    padding-left: 10px;
    margin-top: 4px;
}

#send{
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
}

#symb{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
    
    border-radius: 4px;
    background-color: #E8E8E8;;
    color: #7386ff;
    height: 42px;
}

@media only screen and (max-width: 500px){
    #container{
        height: 100%;
        width: 100%;
        border: 0px;
    }

    #messages-container{
        height: 88%;
        max-height: 88%;
    }
    
    #text{
        max-width: 80%;
    }
}