html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: white !important;
    font-family: 'Poppins', sans-serif;
}

#container{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background:  #91ced6;
    margin: auto;
    width: 500px;
    max-width: 500px;
    
    border-top: 10px solid #91ced6;
    border-bottom: 3px solid #91ced6;
    border: 7px solid #91ced6;
   border-radius: 5px;
}

#name-container{
    color:white;
    font-size: 25px;
    text-align: center;
    background: #91ced6;
    margin-bottom: 10px;
}

#name{
   
    background: #F8F8F8;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#messages-container{
    height: 500px;
    background: white;
    font-size: 15px;
    padding: 7px;
    overflow-y: scroll;
    word-wrap: break-word;
}

#text-container{
    margin: auto;
    
    
    background: #91ced6;
    
    
}

#text{
    margin: 1px 0 1px 0;
    background: #F8F8F8;
    width: 87%;
    font-size: 13px;
    
    border: 0px solid black;
    height: 40px;
    padding-left: 10px;
    margin-top: 4px;
}

#send{
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
    
}

#symb{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
    
    border-radius: solid #91ced6 4px;
    background-color: white;
    color: #91ced6;
    height: 42px;
    width: 12%;
}

#msg-container{
    
    background-color: #e6e9ff;
    
}

#msg-name{
    color: #19B5FE;
    font-size: 13px;
    margin-bottom: 1px;
    padding: 5px 5px 0px 5px;
    
}

#msg-text{
    color: black;
    margin-bottom: 5px;
    padding: 0px 5px 5px 5px;
}


@media only screen and (max-width: 500px){
    #container{
        height: 100%;
        width: 100%;
        border: 0px;
        border-radius: 0px;
    }

    #messages-container{
        height: 86%;
        max-height: 88%;
    }
    
    #text{
        max-width: 100%;
    }

    #name-container{
        margin-top: 19px;
       
    }
    #symb{
        padding: 7px;
        margin-bottom: 3px;
        
    }
}